doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        
        link(href="css/bootstrap/bootstrap-theme.css" rel="stylesheet")
    body
        .container-fluid

            nav.navbar.navbar-light
                .d-flex.w-100.flex-wrap.mx-auto
                    .col-4.pl-0
                        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-03", aria-controls="navigations-03", aria-expanded="false", aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                    a.navbar-brand.m-0.col-4.text-center(href="#") Pied Piper

                    p.nav-item.d-flex.align-items-center.mb-0.col-4.pr-0.justify-content-end
                        a.nav-link(href="#") Card
                        span.badge.badge-primary 1

                .collapse.navbar-collapse.w-100#navigations-03
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link(href="#") Features
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="#") Enterprise
                        li.nav-item
                            a.nav-link(href="#") Support
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") ICO
                            .dropdown-menu
                                a.dropdown-item(href="#") Whitepaper
                                a.dropdown-item(href="#") Token

            section.jumbotron
                .container.text-center
                    h1.display-4 The New Internet
                    p.lead.text-muted Decentralized, secure, private. The PiperNet is on it’s way to revolutionize every smartphone, PC, and smart-fridge near you.

                    a.btn.btn-primary.my-2(href="#") Sign up for free
                    a.btn.btn-link.my-2(href="#") Read more

            section.py-5
                .container.text-center
                    h2 What’s So Great About PiperNet?
                    .row
                        .col-12.carousel.slide#carousel-testimonials-02.my-4(data-ride="carousel")
                            .carousel-inner
                                .carousel-item.active
                                    .row
                                        .col-md-4.mt-5
                                            p.mb-4 It’s a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro’s being bro’s. Respected!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Colin
                                            p.text-muted CEO at K-Hole

                                        .col-md-4.mt-5
                                            p.mb-4 This is such a great product that I feel aroused every time I use it. I didn’t know the boys would be able to build, but god damn it, they did it. Kickass!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Russ Hanneman
                                            p.text-muted Investor, Angel, Great Guy

                                        .col-md-4.mt-5
                                            p.mb-4 Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Fiona
                                            p.text-muted Artificial Intelligence


                                .carousel-item
                                    .row
                                        .col-md-4.mt-5
                                            p.mb-4 It’s a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro’s being bro’s. Respected!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Colin
                                            p.text-muted CEO at K-Hole

                                        .col-md-4.mt-5
                                            p.mb-4 This is such a great product that I feel aroused every time I use it. I didn’t know the boys would be able to build, but god damn it, they did it. Kickass!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Russ Hanneman
                                            p.text-muted Investor, Angel, Great Guy

                                        .col-md-4.mt-5
                                            p.mb-4 Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Fiona
                                            p.text-muted Artificial Intelligence


                                .carousel-item
                                    .row
                                        .col-md-4.mt-5
                                            p.mb-4 It’s a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro’s being bro’s. Respected!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Colin
                                            p.text-muted CEO at K-Hole

                                        .col-md-4.mt-5
                                            p.mb-4 This is such a great product that I feel aroused every time I use it. I didn’t know the boys would be able to build, but god damn it, they did it. Kickass!
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Russ Hanneman
                                            p.text-muted Investor, Angel, Great Guy

                                        .col-md-4.mt-5
                                            p.mb-4 Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                                            img.mx-auto.rounded-circle(src="https://bootstrapshuffle.com/placeholder/pictures/bg_circle.svg?primary=dc3545", alt="", height="60", width="60")
                                            p.mt-4.mb-0 Fiona
                                            p.text-muted Artificial Intelligence


                        .mx-auto
                            a.carousel-control-prev.position-relative.d-inline.mr-2(href="#carousel-testimonials-02", role="button", data-slide="prev")
                                    img(src="placeholder/icons/chevron-left.svg", aria-hidden="true", alt="")
                                    span.sr-only Previous
                            a.carousel-control-next.position-relative.d-inline(href="#carousel-testimonials-02", role="button", data-slide="next")
                                img(src="placeholder/icons/chevron-right.svg", aria-hidden="true", alt="")
                                span.sr-only Next

            footer.py-3
                .container
                    .d-flex.justify-content-center.align-items-center.flex-column
                        h5.mb-3
                            a(href="#") Pied Piper
                        .d-flex.mb-3
                            a(href="#")
                                img.mr-3(src="placeholder/icons/twitter.svg", alt="Twitter icon")
                            a(href="#")
                                img.mr-3(src="placeholder/icons/facebook-f.svg", alt="Facebook icon")
                            a(href="#")
                                img.mr-3(src="placeholder/icons/instagram.svg", alt="Instagram icon")
                            a(href="#")
                                img(src="placeholder/icons/linkedin-in.svg", alt="Linkedin icon")
                        .d-flex
                            p.mb-0.small.text-muted &copy; 2018 Pied Piper. All right reserved.

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")